/* ---------------------------------------------NAVBAR------------------------------------------------- */
body{
    width: 100vw;
    height: 100vh;
	
}
.container{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	flex-wrap: wrap;
	font-family: 'Caveat', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Mulish', sans-serif;
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Varela Round', sans-serif;
}
.navbar{
    background-color: rgb(1, 114, 189);
    width: 22%;
    height: 100vh;
    color: white;
	
	
}
.dashboard-img{
    width: 50px;
    margin-right: 7px;
	margin-left: 10px;
	margin-top: 10px;
}
.menu-big{
    font-size: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.dashboard-napis{
	margin-top: 12px;
}
.navbar-img{
	width: 50px;
}

.menu{
	margin-left: 10px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	font-size: 18.9px;
	margin-bottom: 15px;
}
.navbar-napis{
	margin-right: 7px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 18px;
}
.navbar-mid{
	margin-top: 60px;
}
.menu:hover{
	transform: scale(1.03);
	cursor: pointer;
}
.navbar-bottom{
	margin-top: 65px;
}
/* ----------------------------------HEADER----------------------------------------------- */
.header{
	display: flex;
	align-items: center;
	width: 78%;
	
	
}
.search{
	display: flex;
	align-items: center;
	width: 100%;
}
.search-img{
	width: 31px;
	margin-top: 25px;
	margin-left: 22px;
}
.input-search{
	height: 50px;
	width: 80%;
	border-radius: 15px;
	border: solid 0px;
	background-color:  #e2e8f0;
	margin-top: 20px;
	margin-left: 25px;
	padding-left: 40px;
	font-size: 1.4rem;
}
.search-logo{
	width: 60px;
}
.notification-img{
	width: 41px;
}
.notification{
	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-right: 0px;
	width: 90px;
}

.notification-img:hover{
	transform: scale(1.07);
}
.logo-img{
	display: flex;
	align-items: center;
	width: 58px;
	border-radius: 100px;
	margin-top: 20px;
	
}
.logo-lewy{
	display: flex;
	align-items: center;
	width: 80px;
	
}
.nickname{
	display: flex;
}


.logo-img:hover{
	transform: scale(1.07);
}
.nickname{
	width: 20%;
	display:flex ;
	align-items: center;
	justify-content: center;
	
}
.nickname-napis{
	margin-top: 20px;
	font-size: 26px;
	margin-right: 90px;
}
.nickname-napis:hover{
	transform: scale(1.10);
}
/* -------------------------------------HEADER-BOTTOM------------------------------------------------ */

.logo-img-small{
	margin-left: 32px;
}
.greetings{
	display: flex;
	align-items: center;
	width: 30%;
}
.header-bottom{
	display: flex;
	align-items: center;
	font-family: 'Caveat', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Mulish', sans-serif;
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Varela Round', sans-serif;
}
.text{
	margin-top: 20px;
	margin-left: 20px;

	font-size: 18px;
}
.buttons{
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 35px;
	width: 70%;
	gap: 15px;
	margin-top: 10px;
}
.button{
	display: flex;
	background-color: blue;
	color: white;
	width: 10%;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 25px;
	background-color: rgb(1, 114, 189);
}
.button:hover{
	transform: scale(1.10);
}































































































































































/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}